.mainDiv {
    background-color: #101010;
    margin: 5% 10%;

    border-radius: 0.25cm;
    padding: 0.25cm;

    box-shadow: 0cm 0.65cm 1cm rgba(0, 0, 0, 50%);

    * {
        color: white;
    }

    h1 {
        text-align: center;
    }
}