.mainDiv {
    background-color: #101010;
    margin: 10% 15%;

    display: flex;

    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    border-radius: 0.25cm;
    padding: 0.25cm;

    box-shadow: 0cm 0.65cm 1cm rgba(0, 0, 0, 50%);

    * {
        color: white;
        flex-grow: 100%;
    }
}