.mainDiv {
    background-color: #101010;
    margin: 10% 15%;

    text-align: center;

    border-radius: 0.25cm;
    padding: 0.25cm;

    box-shadow: 0cm 0.65cm 1cm rgba(0, 0, 0, 50%);

    * {
        color: white;
    }

    p {
        margin: 10px;
        text-align: left;
        background-color: #202020;
    }
}