.navBar {
    background-color: #101010;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 7px;
    border-radius: 5cm;
    box-shadow: 0cm 0.65cm 1cm rgba(0, 0, 0, 0.25);

    width: fit-content;

    .button {
        text-decoration: none;

        font-weight: 600;
        font-size: 1.3rem;
        padding:15px 20px;
        border-radius: 50px;
        transition: all 0.2s ease;
    }

    .button:hover {
        cursor: pointer;
        background-color: #202020;
    }

    .button:active {
        transform: scale(0.95);
    }

    .active {
        color: white;
        background:#202020;
    }

    .notactive {
        color: #858585;
    }
}
