$animation: ease-in-out;

.fadeOut {
    animation: fadeOut 100ms $animation forwards;
}

@keyframes fadeOut {
    0% {
        filter: blur(0.0px);
        opacity: 1;
    }
    100% {
        filter: blur(20.0px);
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 100ms $animation forwards;
}

@keyframes fadeIn {
    0% {
        filter: blur(20.0px);
        opacity: 0;
    }
    100% {
        filter: blur(0.0px);
        opacity: 1;
    }
}
