$animation: ease-in-out;

.fadeOut {
    animation: fadeOut 200ms $animation forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
        transform: scale(100%);
        clip-path: circle(100% at center);
    }
    100% {
        opacity: 0%;
        transform: scale(50%);
        clip-path: circle(0% at center);
    }
}

.fadeIn {
    animation: fadeIn 200ms $animation forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
        transform: scale(50%);
        clip-path: circle(0% at center);
    }
    100% {
        opacity: 100%;
        transform: scale(100%);
        clip-path: circle(100% at center);
    }
}
