.fadeOut {
    animation: fadeOut 500ms ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 100%;
        transform: scale(100%);
        clip-path: circle(100% at center);
    }
    to {
        opacity: 0%;
        transform: scale(50%);
        clip-path: circle(0% at center);
    }
}

.fadeIn {
    animation: fadeIn 500ms ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        transform: scale(50%);
        clip-path: circle(0% at center);
    }
    to {
        opacity: 100%;
        transform: scale(100%);
        clip-path: circle(100% at center);
    }
}